html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-orange: 255, 136, 61;
  --color-blue: 94, 178, 255;
  --color-green: 103, 194, 58;
  --color-red: 237, 57, 57;
  --color-violet: 97, 57, 237;
  --color-yellow: 237, 227, 57;
}

body {
  margin: 0;
  background: url(https://i.imgur.com/fzpFvaS.png);
  background-size: cover;
  background-position: 0 100%;
  
/*Scroll bar*/
::-webkit-scrollbar {
    width: 8px;
    background: rgb(115, 190, 203);
}

::-webkit-scrollbar {
    width: 8px;
    background: rgb(0 0 0 / 0%);
}

::-webkit-scrollbar-corner {
    background: rgb(115, 190, 203);
}

::-webkit-scrollbar-thumb {
    background: rgb(115, 190, 203);
    -webkit-border-radius: 1ex;
}
.grid {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-block {
  width: 40%;
  min-height: 11.25rem;
  padding: 1rem;
}

.image-grid {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-grid .tile-link:hover .tile-img {
  top: -1rem;
  left: -1rem;
}

.image-grid .tile-img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}

.tile-link {
  display: block;
}

.tile-link:hover .tile-img {
  opacity: 1;
}

.tile-link:hover .tile-img-link {
  display: block;
}

.tile-link:hover .tile-img-link:hover .tile-img {
  opacity: 0.5;
}

.tile-img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.tile-link:hover .tile-img1 {
  box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
    10px 10px rgba(var(--color-orange), 0.3), 15px 15px rgba(var(--color-orange), 0.2),
    20px 20px rgba(var(--color-orange), 0.1), 25px 25px rgba(var(--color-orange), 0.05);
}

.tile-link:hover .tile-img2 {
  box-shadow: 5px 5px rgba(var(--color-blue), 0.4), 10px 10px rgba(var(--color-blue), 0.3),
    15px 15px rgba(4var(--color-blue), 0.2), 20px 20px rgba(var(--color-blue), 0.1),
    25px 25px rgba(var(--color-blue),, 0.05);
}

.tile-link:hover .tile-img3 {
  box-shadow: 5px 5px rgba(var(--color-violet), 0.4),
    10px 10px rgba(var(--color-violet), 0.3), 15px 15px rgba(var(--color-violet), 0.2),
    20px 20px rgba(var(--color-violet), 0.1), 25px 25px rgba(var(--color-violet), 0.05);
}

.tile-link:hover .tile-img4 {
  box-shadow: 5px 5px rgba(var(--color-red), 0.4), 10px 10px rgba(var(--color-red), 0.3),
    15px 15px rgba(var(--color-red), 0.2), 20px 20px rgba(var(--color-red), 0.1),
    25px 25px rgba(var(--color-red), 0.05);
}

.tile-link:hover .tile-img5 {
  box-shadow: 5px 5px rgba(138, 218, 245, 0.4),
    10px 10px rgba(var(--color-orange), 0.3), 15px 15px rgba(var(--color-orange), 0.2),
    20px 20px rgba(var(--color-orange), 0.1), 25px 25px rgba(var(--color-orange), 0.05);
}

.tile-link:hover .tile-img6 {
  box-shadow: 5px 5px rgba(var(--color-yellow), 0.4),
    10px 10px rgba(var(--color-yellow), 0.3), 15px 15px rgba(var(--color-yellow), 0.2),
    20px 20px rgba(var(--color-yellow), 0.1), 25px 25px rgba(var(--color-yellow), 0.05);
}

.tile-link:hover .tile-img7 {
  box-shadow: 5px 5px rgba(var(--color-yellow), 0.4), 10px 10px rgba(var(--color-yellow), 0.3),
    15px 15px rgba(var(--color-yellow), 0.2), 20px 20px rgba(var(--color-yellow), 0.1),
    25px 25px rgba(var(--color-yellow), 0.05);
}

.tile-link:hover .tile-img8 {
  box-shadow: 5px 5px rgba(145, 156, 196, 0.4),
    10px 10px rgba(var(--color-orange), 0.3), 15px 15px rgba(var(--color-orange), 0.2),
    20px 20px rgba(var(--color-orange), 0.1), 25px 25px rgba(var(--color-orange), 0.05);
}

